*
{
    box-sizing: border-box;
}
:root{

    --Archer-Medium-Pro:'Archer-Medium-Pro';
    --Lato-Black:'Lato-Black';
    --Lato-Bold:'Lato-Bold';
    --Lato-Regular:'Lato-Regular';
    --SortsMillGoudy-Italic:'SortsMillGoudy-Italic';

}
li
{
    list-style: none;
    font-family: var(--Archer-Medium-Pro);
}
a
{
    text-decoration:none;

}
ul{
    margin: 0;
}

@font-face {
    font-family: Archer-Medium-Pro;
    src: url(../fonts/Archer-Medium-Pro.otf);
}
@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

#text h1
{
    font-family: var(--SortsMillGoudy-Italic);
}
#text h2
{
    font-family: var(--SortsMillGoudy-Italic);
    font-size: 2rem;
}
#text p
{
    font-family: var(--Archer-Medium-Pro);
    font-size: 120%;
}
.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}
span
{
    font-family: var(--SortsMillGoudy-Italic);
}