.introduction {
    background-color: #f7f7f7;
    padding: 40px 0;
    text-align: center;
}

.introduction img {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
}

.introduction p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    text-align: justify;
    text-indent: 0.5cm;
}
.introduction a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}